

<div class="container-fluid notification">
    <!-- Nitification title-->
    <div class="row">
        <div class="">
            <div class="title">
                <h4>Notifications</h4>
            </div>
        </div>
    </div>

    <!--Notifications -->

        <div class="row">
            <div class="alert " >
                <img  src="../../assets/img/hay.jpg" class="img">
                    <strong>@Hayat Talaat</strong> 
                    <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                 <p>
                    this is an important alert, and some random lorem ipsum to test out the width at fullest. woohoo woohoo lorem ipsumlorem ipsumlorem ipsum
                </p>
            </div>
        </div>

        <div class="row">
            <div class="alert ">
                 <img  src="../../assets/img/hay.jpg" class="img">
                     <strong>@Hayat Talaat</strong> 
                     <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>   
                 <p>
                     this is an important alert, and some random lorem ipsum to test out the width at fullest. woohoo woohoo lorem ipsumlorem ipsumlorem ipsum
                </p>
            </div>
        </div>

        <div class="row">
            <div class="alert" >
                <img  src="../../assets/img/hay.jpg" class="img">
                    <strong>@Hayat Talaat</strong>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>    
                <p>
                    this is an important alert, and some random lorem ipsum to test out the width at fullest. woohoo woohoo lorem ipsumlorem ipsumlorem ipsum
                </p>
             </div>
         </div> 
         <div class="row">
            <div class="alert " >
                <img  src="../../assets/img/hay.jpg" class="img">
                    <strong>@Hayat Talaat</strong>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>    
                <p>
                    this is an important alert, and some random lorem ipsum to test out the width at fullest. woohoo woohoo lorem ipsumlorem ipsumlorem ipsum
                </p>
             </div>
         </div> 
         <div class="row">
            <div class="alert" >
                <img  src="../../assets/img/hay.jpg" class="img">
                    <strong>@Hayat Talaat</strong>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>    
                <p>
                    this is an important alert, and some random lorem ipsum to test out the width at fullest. woohoo woohoo lorem ipsumlorem ipsumlorem ipsum
                </p>
             </div>
         </div> 
        
        
        
    
        
       
    </div>


