

<div class="container-fluid notification">
    <div>
        <i class="far fa-times-circle"></i>
        <h3>This is " App Notifications " commponent </h3>
    </div>

    <div class="alert success">
            <span class="notification-close">&times;</span>
        <strong>Success !</strong> - this is an important alert, and some random lorem ipsum to test out the width at fullest. woohoo woohoo lorem ipsumlorem ipsumlorem ipsum
    </div>
    
    <div class="alert warning">
        <strong>Warning !</strong> - this is an important alert, and some random lorem ipsum to test out the width at fullest. woohoo woohoo lorem ipsumlorem ipsumlorem ipsum
    </div>
    <div class="alert danger">
        <strong>Danger !</strong> - this is an important alert, and some random lorem ipsum to test out the width at fullest. woohoo woohoo lorem ipsumlorem ipsumlorem ipsum
    </div>
    <div class="alert noti ">
            <strong>Danger !</strong> - this is an important alert, and some random lorem ipsum to test out the width at fullest. woohoo woohoo lorem ipsumlorem ipsumlorem ipsum
    </div>
    <i class="fas fa-bell"></i>
    <i class="fas fa-times border-bottom border-gray"></i>

</div>

