<div class="">

    <!-- Add New Button -->
    <div class="row">

        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
            <div class="totla">
                <h4>Total Progress</h4>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 hidden-xs ">
            <a href="#" class="btn btn-primary mb20 add-product">
                <i class="fa fa-plus-circle"></i>
                Add new Product
            </a>
        </div>

    </div>

    <!-- Total Progress -->
    <div class="row">

        <div class="total-progress">
            <div class="col-sm-3 col-xs-6">
                <div class="user-profile-progress">
                    <i class="fas fa-box-open"></i>
                    <h5>503</h5>
                    <p>Products</p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="user-profile-progress">
                    <i class="fas fa-check-circle"></i>
                    <h5>50</h5>
                    <p>Accepted</p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="user-profile-progress">
                    <i class="fas fa-exclamation-triangle"></i>
                    <h5>10</h5>
                    <p>Refused</p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="user-profile-progress">
                    <i class="fas fas fa-spinner"></i>
                    <h5>100</h5>
                    <p>In-progress</p>
                </div>
            </div>
        </div>

    </div>

    <hr class="product-hr">


    <!-- Button Visible on mobile screen -->
    <div class="row visible-xs">
        <div class="col-xs-12">
            <a href="#" class="btn btn-primary mb20 add-product">
                <i class="fa fa-plus-circle"></i>
                Add new Product
            </a>
        </div>
    </div>


    <!-- Product -->
    <div class="row">

        <div class="products">

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content-product">
                <div class="blog-item rounded shadow">
                    <a href="" class="blog-img">
                        <img data-no-retina="" src="../../assets/img/products/1.jpg" class="img-responsive" alt="...">
                    </a>
                    <div class="blog-details">
                        <h4 class="blog-title"><a href="">Car</a></h4>
                        <ul class="blog-meta">
                            <li><a href="">05 10, 2018</a></li>
                            <li>200$</li>
                        </ul><!-- /.blog-meta -->
                        <br>
                        <div class="blog-summary">
                            <p>Content post goes here ...</p>
                            <div class="row last-btn">
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success edit">Edit</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success delete">Delete</button>
                                </div>
                            </div>
                        </div><!-- /.blog-summary -->
                    </div><!-- /.blog-details -->
                </div><!-- /.blog-item -->
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content-product">
                <div class="blog-item rounded shadow">
                    <a href="" class="blog-img">
                        <img data-no-retina="" src="../../assets/img/products/2.jpg" class="img-responsive" alt="...">
                    </a>
                    <div class="blog-details">
                        <h4 class="blog-title"><a href="">House</a></h4>
                        <ul class="blog-meta">
                            <li><a href="">05 10, 2018</a></li>
                            <li>200$</li>
                        </ul><!-- /.blog-meta -->
                        <br>
                        <div class="blog-summary">
                            <p>Content post goes here ...</p>
                            <div class="row last-btn">
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success edit">Edit</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success delete">Delete</button>
                                </div>
                            </div>
                        </div><!-- /.blog-summary -->
                    </div><!-- /.blog-details -->
                </div><!-- /.blog-item -->
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content-product">
                <div class="blog-item rounded shadow">
                    <a href="" class="blog-img">
                        <img data-no-retina="" src="../../assets/img/products/3.jpg" class="img-responsive" alt="...">
                    </a>
                    <div class="blog-details">
                        <h4 class="blog-title"><a href="">House</a></h4>
                        <ul class="blog-meta">
                            <li><a href="">05 10, 2018</a></li>
                            <li>200$</li>
                        </ul><!-- /.blog-meta -->
                        <br>
                        <div class="blog-summary">
                            <p>Content post goes here ...</p>
                            <div class="row last-btn">
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success edit">Edit</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success delete">Delete</button>
                                </div>
                            </div>
                        </div><!-- /.blog-summary -->
                    </div><!-- /.blog-details -->
                </div><!-- /.blog-item -->
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content-product">
                <div class="blog-item rounded shadow">
                    <a href="" class="blog-img">
                        <img data-no-retina="" src="../../assets/img/products/4.jpg" class="img-responsive" alt="...">
                    </a>
                    <div class="blog-details">
                        <h4 class="blog-title"><a href="">House</a></h4>
                        <ul class="blog-meta">
                            <li><a href="">05 10, 2018</a></li>
                            <li>200$</li>
                        </ul><!-- /.blog-meta -->
                        <br>
                        <div class="blog-summary">
                            <p>Content post goes here ...</p>
                            <div class="row last-btn">
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success edit">Edit</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success delete">Delete</button>
                                </div>
                            </div>
                        </div><!-- /.blog-summary -->
                    </div><!-- /.blog-details -->
                </div><!-- /.blog-item -->
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content-product">
                <div class="blog-item rounded shadow">
                    <a href="" class="blog-img">
                        <img data-no-retina="" src="../../assets/img/products/5.jpg" class="img-responsive" alt="...">
                    </a>
                    <div class="blog-details">
                        <h4 class="blog-title"><a href="">House</a></h4>
                        <ul class="blog-meta">
                            <li><a href="">05 10, 2018</a></li>
                            <li>200$</li>
                        </ul><!-- /.blog-meta -->
                        <br>
                        <div class="blog-summary">
                            <p>Content post goes here ...</p>
                            <div class="row last-btn">
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success edit">Edit</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success delete">Delete</button>
                                </div>
                            </div>
                        </div><!-- /.blog-summary -->
                    </div><!-- /.blog-details -->
                </div><!-- /.blog-item -->
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content-product">
                <div class="blog-item rounded shadow">
                    <a href="" class="blog-img">
                        <img data-no-retina="" src="../../assets/img/products/1.jpg" class="img-responsive" alt="...">
                    </a>
                    <div class="blog-details">
                        <h4 class="blog-title"><a href="">House</a></h4>
                        <ul class="blog-meta">
                            <li><a href="">05 10, 2018</a></li>
                            <li>200$</li>
                        </ul><!-- /.blog-meta -->
                        <br>
                        <div class="blog-summary">
                            <p>Content post goes here ...</p>
                            <div class="row last-btn">
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success edit">Edit</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success delete">Delete</button>
                                </div>
                            </div>
                        </div><!-- /.blog-summary -->
                    </div><!-- /.blog-details -->
                </div><!-- /.blog-item -->
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content-product">
                <div class="blog-item rounded shadow">
                    <a href="" class="blog-img">
                        <img data-no-retina="" src="../../assets/img/products/7.jpg" class="img-responsive" alt="...">
                    </a>
                    <div class="blog-details">
                        <h4 class="blog-title"><a href="">House</a></h4>
                        <ul class="blog-meta">
                            <li><a href="">05 10, 2018</a></li>
                            <li>200$</li>
                        </ul><!-- /.blog-meta -->
                        <br>
                        <div class="blog-summary">
                            <p>Content post goes here ...</p>
                            <div class="row last-btn">
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success edit">Edit</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success delete">Delete</button>
                                </div>
                            </div>
                        </div><!-- /.blog-summary -->
                    </div><!-- /.blog-details -->
                </div><!-- /.blog-item -->
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content-product">
                <div class="blog-item rounded shadow">
                    <a href="" class="blog-img">
                        <img data-no-retina="" src="../../assets/img/products/6.jpg" class="img-responsive" alt="...">
                    </a>
                    <div class="blog-details">
                        <h4 class="blog-title"><a href="">House</a></h4>
                        <ul class="blog-meta">
                            <li><a href="">05 10, 2018</a></li>
                            <li>200$</li>
                        </ul><!-- /.blog-meta -->
                        <br>
                        <div class="blog-summary">
                            <p>Content post goes here ...</p>
                            <div class="row last-btn">
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success edit">Edit</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success delete">Delete</button>
                                </div>
                            </div>
                        </div><!-- /.blog-summary -->
                    </div><!-- /.blog-details -->
                </div><!-- /.blog-item -->
            </div>


        </div>

    </div>

    <!-- Paginations -->
    <ul class="pagination">
        <li class="active"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li>
        <li class="dots">...</li>
        <li><a href="#">43</a>
        </li>
        <li class="next"><a href="#">Next Page</a>
        </li>
    </ul>


</div>