<div class="row">

    <div class="col-xs-12">
        <ul class="booking-list booking-list-wishlist accepted">
            <li>
                <span class="booking-item-wishlist-title">
                    <i class="fas fa-check-circle"></i>
                    Accepted
                    <span>
                        added on July 15, 2018
                    </span>
                </span>
                <a class="fa fa-times booking-item-wishlist-remove" href="#" rel="tooltip" data-placement="top" title=""
                    data-original-title="remove from wishlist">
                </a>
                <a class="booking-item" href="#">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../assets/img/products/3.jpg" alt="Image Alternative text" title="Street Yoga">
                        </div>
                        <div class="col-md-6">
                            <div class="booking-item-rating">
                                <!-- <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star-half-empty"></i>
                                    </li>
                                </ul> -->
                                <span class="booking-item-rating-number">
                                    <b>Mobile</b> </span>
                                <small>( Category )</small>
                            </div>
                            <h5 class="booking-item-title">Mobile Sony</h5>
                            <p class="booking-item-address">
                                <i class="fa fa-map-marker"></i>
                                Egypt, ( Assiut )
                            </p>
                            <p class="booking-item-description">
                                Info about Product Here ...
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span class="booking-item-price-from">From</span>
                            <span class="booking-item-price">$143</span>
                            <span>/piece </span>
                            <span class="btn btn-primary">Edit Product</span>
                        </div>
                    </div>
                </a>
            </li>


            <li>
                <span class="booking-item-wishlist-title">
                    <i class="fas fa-check-circle"></i>
                    Accepted
                    <span>
                        added on July 15, 2018
                    </span>
                </span>
                <a class="fa fa-times booking-item-wishlist-remove" href="#" rel="tooltip" data-placement="top" title=""
                    data-original-title="remove from wishlist">
                </a>
                <a class="booking-item" href="#">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../assets/img/products/7.jpg" alt="Image Alternative text" title="Street Yoga">
                        </div>
                        <div class="col-md-6">
                            <div class="booking-item-rating">
                                <!-- <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                    </ul> -->
                                <span class="booking-item-rating-number">
                                    <b>Watch</b> </span>
                                <small>( Category )</small>
                            </div>
                            <h5 class="booking-item-title">Watch brand</h5>
                            <p class="booking-item-address">
                                <i class="fa fa-map-marker"></i>
                                Egypt, ( Assiut )
                            </p>
                            <p class="booking-item-description">
                                Info about Product Here ...
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span class="booking-item-price-from">From</span>
                            <span class="booking-item-price">$200</span>
                            <span>/piece </span>
                            <span class="btn btn-primary">Edit Product</span>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <span class="booking-item-wishlist-title">
                    <i class="fas fa-check-circle"></i>
                    Accepted
                    <span>
                        added on July 15, 2018
                    </span>
                </span>
                <a class="fa fa-times booking-item-wishlist-remove" href="#" rel="tooltip" data-placement="top" title=""
                    data-original-title="remove from wishlist">
                </a>
                <a class="booking-item" href="#">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../assets/img/products/5.jpg" alt="Image Alternative text" title="Street Yoga">
                        </div>
                        <div class="col-md-6">
                            <div class="booking-item-rating">
                                <!-- <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                    </ul> -->
                                <span class="booking-item-rating-number">
                                    <b>Car</b> </span>
                                <small>( Category )</small>
                            </div>
                            <h5 class="booking-item-title">Car Brand</h5>
                            <p class="booking-item-address">
                                <i class="fa fa-map-marker"></i>
                                Egypt, ( Assiut )
                            </p>
                            <p class="booking-item-description">
                                Info about Product Here ...
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span class="booking-item-price-from">From</span>
                            <span class="booking-item-price">$2000</span>
                            <span>/piece </span>
                            <span class="btn btn-primary">Edit Product</span>
                        </div>
                    </div>
                </a>
            </li>

        </ul>

    </div>

</div>