<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">My Profile</h2>
            <div class="tab-container">

                <div class="row">

                    <div class="col-xs-3">
                        <!-- Nav Tabs -->
                        <ul class="nav nav-tabs nav-tabs-left nav-centered" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#my-products" data-toggle="tab" role="tab">
                                    My Products
                                </a>
                            </li>
                            <li role="presentation">
                                <ul>Bartering
                                    <li>
                                        <a href="#bartering-accepted" data-toggle="tab" role="tab">
                                            Accepted
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#bartering-refused" data-toggle="tab" role="tab">
                                            refused
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#bartering-in-progress" data-toggle="tab" role="tab">
                                            In Progress
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li role="presentation">
                                <a href="#notifications" data-toggle="tab" role="tab">
                                    Notifications
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#control-panel" data-toggle="tab" role="tab">
                                    Control Panel
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#settings" data-toggle="tab" role="tab">
                                    Settings
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-xs-9">

                        <!-- Data Navs-->
                        <div id="my_side_tabs" class="tab-content side-tabs side-tabs-left">

                            <!-- My Products -->
                            <div class="tab-pane fade in active" id="my-products" role="tabpanel">
                                <app-my-product></app-my-product>
                            </div>

                            <!-- Bartering Accepted -->
                            <div class="tab-pane fade" id="bartering-accepted" role="tabpanel">
                                <app-bartering-accpted></app-bartering-accpted>
                            </div>

                            <!-- Bartering Refused -->
                            <div class="tab-pane fade" id="bartering-refused" role="tabpanel">
                                <app-bartering-refused></app-bartering-refused>
                            </div>

                            <!-- Bartering In Progress -->
                            <div class="tab-pane fade" id="bartering-in-progress" role="tabpanel">
                                <app-bartering-in-progress></app-bartering-in-progress>
                            </div>

                            <!-- Notifications -->
                            <div class="tab-pane fade" id="notifications" role="tabpanel">
                                <app-notification></app-notification>
                            </div>

                            <!-- Control Panel -->
                            <div class="tab-pane fade" id="control-panel" role="tabpanel">
                                <app-control-panel></app-control-panel>
                            </div>

                            <!-- Settings -->
                            <div class="tab-pane fade" id="settings" role="tabpanel">
                                <app-sttings></app-sttings>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>