<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">My Profile</h2>
            <div class="tab-container">

                <div class="row">

                    <div class="col-xs-3">

                        <!-- Nav Tabs -->
                        <ul class="nav nav-tabs nav-tabs-left nav-centered" role="tablist">

                            <!-- Profile Name Discreption -->
                            <li>
                                <div class="user-profile-sidebar text-center">
                                    <h4>Hayat Talaat</h4>
                                    <p>Member Since May 2018</p>
                                </div>
                            </li>
                            <hr>

                            <li role="presentation" class="active">
                                <a href="#my-products" data-toggle="tab" role="tab">
                                    <i class="fas fa-box-open"></i>
                                    My Products
                                </a>
                            </li>
                            <hr>

                            <li role="presentation">
                                <a href="#settings" data-toggle="tab" role="tab">
                                    <i class="fas fa-cog"></i>
                                    Settings
                                </a>
                            </li>
                            <hr>

                            <li role="presentation">
                                <a href="#Credit" data-toggle="tab" role="tab">
                                    <i class="far fa-credit-card"></i>
                                    Credit/Debit Cards
                                </a>
                            </li>
                            <hr>

                            <li role="presentation">
                                <a href="#notifications" data-toggle="tab" role="tab">
                                    <i class="fas fa-bell"></i>
                                    Notifications
                                </a>
                            </li>
                            <hr>
                            
                            <hr>

                            <div class="bartering-section">
                                <i class="fas fa-exchange-alt"></i>
                                <!-- <span class="bartering"></span> -->
                                Bartering
                            </div>
                            <li role="presentation" class="bartering">
                                <a href="#bartering-accepted" data-toggle="tab" role="tab">
                                    <i class="fas fa-check-circle"></i>
                                    Accepted
                                </a>
                            </li>
                            <li role="presentation" class="bartering">
                                <a href="#bartering-refused" data-toggle="tab" role="tab">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    refused
                                </a>
                            </li>
                            <li role="presentation" class="bartering">
                                <a href="#bartering-in-progress" data-toggle="tab" role="tab">
                                    <i class="fas fa-spinner"></i>
                                    In Progress
                                </a>
                            </li>


                            
                            <!-- <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    About me
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a data-toggle="tab" href="#education-tab">Education</a></li>
                                    <li><a data-toggle="tab" href="#career-tab">Career</a></li>
                                    <li><a data-toggle="tab" href="#contact-tab">Contact</a></li>
                                </ul>
                            </li> -->

                        </ul>
                    </div>

                    <div class="col-xs-9">

                        <!-- Data Navs-->
                        <div id="my_side_tabs" class="tab-content side-tabs side-tabs-left">

                            <!-- My Products -->
                            <div class="tab-pane fade in active" id="my-products" role="tabpanel">
                                <app-my-product></app-my-product>
                            </div>

                            <!-- Bartering Accepted -->
                            <div class="tab-pane fade" id="bartering-accepted" role="tabpanel">
                                <app-bartering-accpted></app-bartering-accpted>
                            </div>

                            <!-- Bartering Refused -->
                            <div class="tab-pane fade" id="bartering-refused" role="tabpanel">
                                <app-bartering-refused></app-bartering-refused>
                            </div>

                            <!-- Bartering In Progress -->
                            <div class="tab-pane fade" id="bartering-in-progress" role="tabpanel">
                                <app-bartering-in-progress></app-bartering-in-progress>
                            </div>

                            <!-- Notifications -->
                            <div class="tab-pane fade" id="notifications" role="tabpanel">
                                <app-notification></app-notification>
                            </div>

                            <!-- Credit -->
                            <div class="tab-pane fade" id="Credit" role="tabpanel">
                                <app-credit></app-credit>
                            </div>

                            <!-- Settings -->
                            <div class="tab-pane fade" id="settings" role="tabpanel">
                                <app-sttings></app-sttings>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>