* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    color: #737373;
    font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 400;
}
h1, h2, h3, h4, h5, .text-hero {
    font-family: 'Roboto', arial, helvetica, sans-serif;
    margin-top: 0;
    font-weight: 300;
    color: #565656;
    line-height: 1.3em;
}